%h1 Movies With The Same Director (#{@movie.director}) as #{@movie.title}

%table#movies
  %thead
    %tr
      %th Title
      %th Director
      %th Rating
      %th Release
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.director
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
